.filterContainer{
  width: calc(40vw + 100px);
  height: 40vh;
  position: absolute;
  top: 40px;
  right: 40px;
  border: 1px solid #8a8a8a;
  overflow: hidden;
  user-select: none;

}
.chartContainer{
  position: absolute;
  width: calc(100% - 100px);
  height: 100%;
  top: 0;
  left: 50px;
}
.svgChart{
  width: 100%;
  height: 100%;
}
.centerLine{
  position: absolute;
  width: 100%;
  top: 50%;
  border-bottom: 1px solid #8a8a8a;
}

.leftFilter,.rightFilter{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: ew-resize;
  background-color: rgba(0, 0, 255, 0.05);
}
.leftFilter{
  border-right: 1px solid #8a8a8a;
}
.rightFilter{
  border-left: 1px solid #8a8a8a;

}
.chartTypeContainer{
  position: absolute;
  top: 0;
  background-color: white;
  height: 100vh;
  overflow: auto;
}

.leftText,.rightText{
  transform: rotate(270deg);
  position: absolute;
  top: 45%;
  text-align: center;
  font-weight: 600;
}
.leftText{
  right: -15px;
}
.rightText{
  left: -20px;
}
.whatIsThis{
  position: absolute;
  top : 18px;
  left: 64px;
  background-color: #3b89ff;
}
.whatIsThis mat-icon{
  color: white;
}

